@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap");
body * {
  font-family: "Montserrat", sans-serif;
}

.btn-success {
    background-color: #00b764;
}
.btn-success:hover {
    background-color: #009350;
}
.btn-success:focus {
    background-color: #00b764;
    box-shadow: 0 10px 30px #51ffb0;
}

.btn {
    padding: 5px 20px;
    border-radius: 0px;
    transition: 0.4s;
    border: none;
}

.row {
    min-height: 100vh;
}